@charset "UTF-8";
* {
	font-family: '맑은고딕',MalgunGothic,AppleSDGothicNeo-Medium,HelveticaNeue,sans-serif;
	box-sizing: border-box;
}
body.login {background-color: #000;}
a, input, button {border-radius: 4px;}
button {padding: 0; border: 1px solid #333;}
select {border-radius: 4px;}
button:disabled,
select:disabled {background-color: #ddd !important;}
input {border-style: solid; border-width: 1px;}
input:focus {outline:none;}
input,
button,
select {padding: 8px 12px;}

table {width: 100%; padding: 24px;}
/*table tr {border: 1px solid #eee;}*/
table tr th {text-align: center; font-size: 16px; font-weight: 400; border: 1px solid #eee; vertical-align: middle; padding: 4px;}
table tr td {border-left: 1px solid #eee; border-bottom: 1px solid #999; vertical-align: middle; padding: 8px 4px;}
.clear:after {clear: both; content: ""; display: block;}
.f_left {float: left !important;}
.f_right {float: right !important;}
.ta_left {text-align: left !important;}
.ta_center {text-align: center !important;}
.ta_right {text-align: right !important;}
.ws_nw {white-space: nowrap;}
.tc_black {color: #000 !important;}
.tc_blue {color: #033fb3 !important;}
.tc_white {color: #fff !important;}
.tc_red {color: #ff0000 !important;}
.tc_green {color: #4F812A !important;}
.tc_navy {color: #0F3DAA !important;}
.tc_purple {color: #3B247C !important;}
.no_bor {border: none;}
.no_bor_top {border-top: none;}
.no_bor_bott {border-bottom: none;}
.box_txt {background-color: #fff; border-radius: 4px; padding: 4px 0; font-size: 14px;}
.logo_login {width: 330px; position: fixed; left: 0; right: 0; top: 60px; text-align: center; margin: 0 auto;}
.logo_login .img_logo {width: 100px; margin: 0 auto;}
.logo_login .txt_logo {color: #fff; font-size: 26px; font-weight: 700; margin-top: 4px;}
.wrap_account {width: 330px; position: fixed; left: 0; right: 0; top: 280px; margin: 0 auto;}
.wrap_account .wrap_login {padding: 20px; border-radius: 8px; background-color: #ccc;}
.wrap_account .wrap_login .input_id,
.wrap_account .wrap_login .input_psw {display: block; width: 100%; background-color: #fff; border-radius: 8px;}
.wrap_account .wrap_login .input_psw {margin-top: 6px;}
.wrap_account .wrap_login .input_id input,
.wrap_account .wrap_login .input_psw input {text-align: left; border: none; padding: 12px 0 12px 12px; width: 88%; border-radius: 8px;}
.wrap_account .wrap_login .input_id img,
.wrap_account .wrap_login .input_psw img { width: 24px; height: 24px; margin: 8px 4px 8px 0; float: right;}
.wrap_account .wrap_login .fn_login {margin-top: 12px;}
.wrap_account .wrap_login .fn_login:after {clear: both; content: ""; display: block;}
.wrap_account .wrap_login .fn_login .btn_remember {float: left;}
.wrap_account .wrap_login .fn_login .btn_remember input {float: left; margin: 0 4px 0 0;}
.wrap_account .wrap_login .fn_login .btn_remember span {float: left; font-size: 12px;}
.wrap_account .wrap_login .fn_login .sel_country {float: right; width: 80px; padding: 4px; border: none;}
.wrap_account .wrap_login .btn_login {display: block; background: rgb(8,0,53); background: linear-gradient(90deg, rgba(8,0,53,1) 0%, rgba(21,5,173,1) 100%); width: 100%; padding: 12px 0; margin-top: 12px; color: #fff; text-align: center; border-radius: 8px;}
.wrap_account .btn_forgot,
.wrap_account .btn_create {display: block; width: 100%; padding: 12px 0; margin-top: 12px;text-align: center; border-radius: 8px;}
.wrap_account .btn_forgot {background-color: #333; color: #fff;}
.wrap_account .btn_create {background-color: #FFC800;}
.txt_copyright.login {color: #fff; position: fixed; left: 0; right: 0; bottom: 40px;}
.txt_copyright {font-size: 12px; text-align: center; margin: 0 auto;}
.container+.txt_copyright {margin-top: 32px; margin-bottom: 32px;}
.header_page {padding: 32px 0 56px; margin-bottom: -24px; background-color: #000;}
.header_page .img_logo {margin: 0 auto; display: block; width: 64px;}
.header_page .btn_menu {position: absolute; top: 16px; left: 16px; border:none; background:none; width: 32px; height: 32px; padding: 0;}
.header_page .btn_menu img {display: block; width: 100%;}

.title_page {border-top-right-radius: 24px; border-top-left-radius: 24px; padding-bottom: 24px; margin-bottom: -24px; text-align: center; padding: 12px 0 36px;}
.title_page p {color: #fff;}
.title_page > .tit {color: #fff; font-size: 26px;}
.bgc_900 {background-color: #1B1612;}
.bgc_800 {background-color: #292420;}
.bgc_500 {background-color: #343233;}
.bgc_300 {background-color: #555152;}
.bgc_100 {background-color: #746C69;}
.bgc_50 {background-color: #EAEAEA;}
.bgc_blue {background-color: #0456F5 !important; color: #fff !important;}
.bgc_lblue {background-color: #F0FEFF !important;}
.bgc_lred {background-color: #FDEFEE !important;}
.bgc_yellow {background-color: #FFC800 !important; color: #000 !important;}
.bgc_lyellow {background-color: #F6EAD4 !important;}
.bgc_green {background-color: #879E5A !important; color: #000 !important;}
.bgc_lgreen {background-color: #D8E9D7 !important;}
.bgc_white {background-color: #fff !important;}
.btn_full {width: 100%; padding: 8px 12px;}

.title_page.topk {border-top: 4px solid #1B1612;}
.title_page.topg {border-top: 4px solid #2A6314;}
.title_page.topy {border-top: 4px solid #c6843a;}
.title_page.signup {background-color: #2C2C2C;}
.title_page.signup .tit {color: #FFC800; font-size: 26px;}
.title_page.signup .desc {color: #fff; font-size: 16px;}
.title_page.signup .notice {color: #ffe792; font-size: 12px;}
.title_page.signup .notice span {color: #ff0000;}

.width_full {width: 100% !important;}
.width_half {width: 50% !important;}
.width_10 {width: 10% !important;}
.width_20 {width: 20% !important;}
.width_30 {width: 30% !important;}
.width_40 {width: 40% !important;}
.width_60 {width: 60% !important;}
.width_70 {width: 70% !important;}
.fix_width {width: 336px; margin: 0 auto; display: block;}
.scroll_width {overflow-x: scroll;}
.container {border-top-right-radius: 24px; border-top-left-radius: 24px; padding-bottom: 24px; margin-bottom: -24px; background-color: #fff; padding: 24px 12px;}

.sup_item {width: 100%; margin: 16px 0;}
.sup_item:after {clear: both; content: ""; display: block;}
.sup_item .tit {width: 50%; float: left;}
.sup_item .tit span {margin-right: 4px;}
.sup_item .tit span.et {color: #ff0000}
.sup_item .wrap_input {width: 50%; height: 24px; float: left;}
.sup_item .wrap_input input {border-width: 0 0 1px 0; border-radius: 0; width: 100%; height: 100%; border-color: #ccc;}
.sup_item .wrap_input select {width: 100%; height: 100%; border-color: #ccc; padding: 0;}
.sup_item .wrap_input.chk_need input,
.sup_item .wrap_input.chk_need button {width: 50%; float: left;}
.sup_item .wrap_input.chk_need button {border: 1px solid #ccc; background-color: #fff; height: 100%; font-size: 12px; letter-spacing: -0.5px; color: #666; padding: 0;}
.btns_confirm {margin: 32px auto; padding-top: 32px; text-align: center; width: 100%; border-top: 1px solid #eee;}
.btns_confirm button {padding: 6px 24px; border: none;}
.btns_confirm .btn_yes {background-color: #FFC800;}
.btns_confirm .btn_no {background-color: #ccc;}

.wrap_main_btns:after {clear: both; content: ""; display: block;}
.wrap_main_btns .item {background-color: #fff; border: none; width: 33.333%; padding: 0; margin-bottom: 18px; float: left;}
.wrap_main_btns .item .ic_menus {width: 72px;}

body.menu {background-color: #323232;}
.menu_btns {}
.menu_btns button {width: 100%; height: 42px; border-width: 1px 0 0 0; border-radius: 0; border-color: #ddd; display: block; padding: 0 14px; background-color: #fff;}
.menu_btns button.menu_uid {background-color: #323232;}
.menu_btns button.menu_uid:hover {background-color: #323232;}
.menu_btns button.menu_uid .tit {color: #ccc;}
.menu_btns button.menu_lout {background-color: #aaa;}
.menu_btns button.menu_lout:hover {background-color: #aaa;}
.menu_btns button.menu_lout .tit {color: #444;}
.menu_btns button:hover {background-color: #eee;}
.menu_btns button:after {clear: both; content: ""; display: block;}
.menu_btns button .ic_menus {width: 24px; height: 24px; float: left; margin: 8px 8px 8px 0;}
.menu_btns button .tit {float: left; font-size: 16px; line-height: 41px; color: #666;}
.menu_btns button .ic_right {float: right; width: 24px; height: 24px; margin: 8px 4px 8px 0;}
.wrap_share {padding: 24px 14px;}
.wrap_share .btn_share {width: 100%; height: 48px; border: none; background-color: #FFC800; padding: 0;}
.wrap_share .btn_share p {width: 120px; margin: 0 auto;}
.wrap_share .btn_share p:after {clear: both; content: ""; display: block;}
.wrap_share .btn_share p img {width: 32px; height: 32px; float: left; margin: 8px 8px 8px 0;}
.wrap_share .btn_share p span {font-size: 16px; line-height: 48px; float: left;}
.wrap_share .wrap_url {height: 32px;margin-top: 4px;}
.wrap_share .wrap_url:after {clear: both; content: ""; display: block;}
.wrap_share .wrap_url input {width: 70%; height: 100%; float: left; margin-right: 2%; border: none; padding-left: 8px;}
.wrap_share .wrap_url button {width: 28%; height: 100%; float: left; border: none; background-color: #0456F5; color: #fff; padding: 0;}
.wrap_share .tit_share p {margin-bottom: 12px; text-align: center;}
.wrap_share .tit_share p img {width: 24px; height: 24px; margin: -4px 2px;}
.wrap_share .tit_share p span {color: #FFC800;font-size: 20px;text-align: center;}
.title_page.wrap_share {margin-bottom: -24px; padding-bottom: 48px;}
.btns_share_place {}
.btns_share_place button {border:none; background-color: #fff; width: 33.333%; float: left;}
.btns_share_place button img {width: 72px; height: 72px;}

.notice .functions {}
.notice .functions:after {clear: both; content: ""; display: block;}
.notice .functions > select {border: none; width: 49%; height: 26px; margin-right: 2%; float: left; padding: 0;}
.notice .functions > input {border: none; width: 49%; height: 26px; float: left; padding: 0;}
.notice .functions > button {border: none; width: 100%; height: 26px; float: left; background-color: #766D66; color: #fff; margin-top: 8px;padding: 0;}

.wrap_pagination {text-align: center; margin: 16px auto 6px;}
.wrap_pagination button {width: 16px; height: 16px; background-color: #fff; padding: 0;}
.wrap_pagination button img {width: 100%; display: block;}
.wrap_pagination .start {}
.wrap_pagination .prev {}
.wrap_pagination .count {display: inline-block; margin: 0 14px;}
.wrap_pagination .count span {line-height: 21px}
.wrap_pagination .next {}
.wrap_pagination .end {}
.btn_write {border: none; background-color: #9F9F9F; padding: 8px 0;}

.wrap_secret {position: absolute; top: 157px; right: 18px;}
.wrap_secret .btn_secret {float: left; margin: 3px 8px 0 0;}
.wrap_secret .btn_secret span {color: #fff;}
.wrap_secret .img_secret {float: left; background: #ccc; border-radius: 20px; padding: 6px; width: 24px; height: 24px;}
.container.write .write_item {margin-bottom: 4px;}
.container.write .write_item:after {clear: both; content: ""; display: block;}
.container.write .write_item.subject {margin-bottom: 18px;}
.container.write .write_item.attachments input {padding: 1px 0;}
.container.write .tit {float: left; width: 100px; font-size: 14px; border: 1px solid #ccc; border-radius: 4px; padding: 4px 8px;}
.container.write .write_item.contents .tit {height: 347px; line-height: 347px;}
.container.write .desc,
.container.write .desc textarea {border: 1px solid #ccc; border-radius: 4px; font-size: 14px; padding: 4px 8px; width: calc(100% - 104px); float: right; resize: none;}
.container.write .desc.tools {height: 27px; margin-bottom: 4px;}
.container.write .btns_confirm .btn_yes {background-color: #0456F5; color: #fff;}

.wrap_mystatus {padding: 4px 12px;}
.wrap_mystatus li:after {clear: both; content: ""; display: block;}
.wrap_mystatus li {border-bottom: 1px dotted #999; padding: 6px 12px;}
.wrap_mystatus li .tit {float: left; width: 60%}
.wrap_mystatus li .tit img {width: 24px; height: 24px; float: left; margin: 0 12px 0 0;}
.wrap_mystatus li .tit p {color: #fff; float: left; font-size: 16px; margin: 4px 0 0;}
.wrap_mystatus li .desc {float: left; color: #fff; width: 40%; text-align: left; font-size: 16px; margin: 4px 0 0;}

.title_page.header_calendar:after {clear: both; content: ""; display: block;}
.title_page.header_calendar {}
.title_page.header_calendar .month {color: #fff; display: inline-block; float: left; margin: 0 24px;}
.title_page.header_calendar .rate {color: #fff; display: inline-block; float: left;}
.title_page.header_calendar .move {float: right; background-color: #1a1a1a; border-radius: 8px; margin: -4px 24px -4px 0;}
.title_page.header_calendar .move button {background-color: transparent; border: none; color: #fff; padding: 6px 12px;}

.container .calendar {text-align: center;}
.container .calendar th:first-child,
.container .calendar td:first-child {color: #ff0000;}
.container .calendar tr td {border-bottom-color: #eee; font-size: 20px;}
.container .calendar tr td .rate {color: #0456F5; margin-top: 8px; font-size: 14px;}

.table_ptype {border: 1px dotted #eee; border-left: none; border-right: none; margin: 8px 0;}
.table_ptype tr {border:none;}
.table_ptype tr td {border-color: #eee; border-style: dotted; border-left: none;}
.table_ptype .tit {width: 29%; color: #fff; text-align: left; padding: 8px 12px;}
.table_ptype .desc {width: 69%; border-left: 1px dotted #eee;}
.table_ptype .desc input {float: left;margin-right: 12px;}
.table_ptype .desc p {float: left;}

.wrap_mt_myw .tit {width: 29%; border: none; text-align: center; background-color: #fff5ae;}
.wrap_mt_myw .desc {width: 69%; border: none; background-color: #fff5ae; padding-left: 30px;}
.wrap_mt_order .tit {width: 39%; border: none; text-align: center;}
.wrap_mt_order .desc {width: 59%; border: none; padding-left: 12px;}
.wrap_mt_total {margin: 8px 0;}
.wrap_mt_total .tit {width: 39%; border: none; text-align: center;}
.wrap_mt_total .desc {width: 59%; border: none; padding-left: 12px;}

.wrap_walletqr:first-child {}
.wrap_walletqr {margin-top: 16px; padding-top: 16px; border-top: 1px solid #eee;}
.wrap_walletqr:after {clear: both; content: ""; display: block;}
.wrap_walletqr .wrap_txt {width: calc(100% - 116px); float: left;}
.wrap_walletqr .wrap_txt .item:first-child {margin-top: 0;}
.wrap_walletqr .wrap_txt .item {margin-top: 8px;}
.wrap_walletqr .wrap_txt .item span {font-size: 18px; font-weight: 800;}
.wrap_walletqr .wrap_txt .item button {float: right; border:none; background-color: #666; color: #fff; padding: 4px 12px; margin-bottom: 4px;}
.wrap_walletqr .wrap_txt .item input {width: 100%; padding: 4px 8px;}
.wrap_walletqr .img_qr {width: 100px; display: block; float: right;}

.wrap_daterange {margin: 4px 0;}
.wrap_daterange:after {clear: both; content: ""; display: block;}
.wrap_daterange .btn_selrange {float: left; padding: 0; margin: 0;}
.wrap_daterange .btn_selrange img {width: 24px; height: 24px; display: block;}
.wrap_daterange .txt_date {width: 128px; border: none; float: left; margin: 0 4px; padding: 5px 8px; text-align: center;}

.wrap_table_function {padding: 0 12px; margin-bottom: 12px;}
.wrap_chart_function {}
.wrap_chart_function .item:first-child {margin-top: 0;}
.wrap_chart_function .item {margin-top: 8px;}
.wrap_chart_function .item .tit {margin-bottom: 4px;}
.wrap_chart_function .item .tit button {border: none; margin-right: 8px; padding: 0;}
.wrap_chart_function .item .tit button img {width: 24px; height: 24px; display: block;}
.wrap_chart_function .item .desc input,
.wrap_chart_function .item .desc select {width: 49%; border: none; padding: 6px 8px;}
.wrap_chart_function .item .desc button {width: 49%; border: none; padding: 6px 8px; margin-left: 2%;}

.wrap_ew_function .item:first-child {margin-top: 0;}
.wrap_ew_function .item {margin-top: 8px;}
.wrap_ew_function button {margin-top: 8px;}
.wrap_ew_function .width_half:fitst-child {margin-right: 2%;}
.wrap_ew_function .width_half {width: 49% !important;}

.wrap_msear_function {margin-bottom: 8px;}

.wrap_btns_tap {}
.wrap_btns_tap:after {clear: both; content: ""; display: block;}
.wrap_btns_tap button:first-child {margin-left: 0;}
.wrap_btns_tap button {float: left; margin-left: 2%; width: 49%; background-color: #1B1612; color: #fff;}
.wrap_btns_tap button.on {color: #FFC800; border-color: #FFC800;}

.wrap_wal_function .item:first-child {margin-top: 0;}
.wrap_wal_function .item {margin-top: 8px;}

.wrap_wal_swap {}
.wrap_wal_swap .swap_img {}
.wrap_wal_swap .swap_img .ic_asis,
.wrap_wal_swap .swap_img .ic_tobe {width: 64px; height: 64px;}
.wrap_wal_swap .swap_img .ic_right {margin: 8px 32px;}
.wrap_wal_swap .swap_txt {margin-top: 4px;}
.wrap_wal_swap .swap_txt .between_swap {font-size: 22px; }
.wrap_wal_swap .swap_txt .txt_asis span {font-weight: 400; margin-left: 6px;}
.wrap_wal_swap .swap_txt .txt_asis,
.wrap_wal_swap .swap_txt .txt_right,
.wrap_wal_swap .swap_txt .txt_tobe {color: #000; font-weight: 800; font-size: 22px; display: inline-block;}
.wrap_swap_input {margin-bottom: 0px;}
.wrap_swap_input .item:after {clear: both; content: ""; display: block;}
.wrap_swap_input .item {border-bottom: 1px solid #ddd; margin-bottom: 8px; padding-bottom: 8px;}
.wrap_swap_input .item .tit {width: 42%; float: left; font-size: 18px; line-height: 33px;}
.wrap_swap_input .item input {width: 43%; float: left; text-align: right; border: none;}
.wrap_swap_input .item .unit {width: 15%; float: right; text-align: right; font-size: 18px; line-height: 33px;}

.wrap_wal_withdraw {}
.wrap_wal_withdraw .withdraw_tit:after {clear: both; content: ""; display: block;}
.wrap_wal_withdraw .withdraw_tit .ic_asis {width: 64px; height: 64px; float: left; margin-right: 48px;}
.wrap_wal_withdraw .withdraw_tit .txt_asis {color: #000; font-weight: 800; font-size: 22px; line-height: 64px; float: left;}
.wrap_wal_withdraw .withdraw_tit .txt_asis span {font-weight: 400; margin-left: 6px;}
.wrap_swap_input .item .input_address {width: 83%; text-align: left;}
.wrap_swap_input .item .ic_menus {width: 31px; height: 31px; float: right;}
.wrap_swap_input .item .btn_copy {border:none; float: right;}
.wrap_swap_input .item .img_qr {width: 120px; float: left; margin: 16px 0 0 24px;}
.wrap_swap_input .item .noti {float: left; font-size: 18px; margin: 58px 0 0 42px;}