@charset "UTF-8";
@media (max-width:640px) {
#particle-canvas {z-index: 1;}
pre {font-size: 12px; line-height: 20px;}
.wrap_account {width: 312px;}
.wrap_account .wrap_login .noti_psw {font-size: 11px;}
.wrap_account .logo_login {width: 173px;}

.container {min-width: auto; width: 100%; left: 0; padding: 0 16px 24px;}
.common .overlay {display: none; width: 112px; height: 100vh; content: ""; background-color: rgba(0,0,0,0.5); z-index: 1; position: absolute; right: 0; border-top-left-radius: 12px; border-bottom-left-radius: 12px;}
.common .overlay img {position: absolute;top: 50%;transform: translateY(-50%);left: 0;right: 0;margin: 0 auto;width: 40px;height: 40px;background-color: #fff;padding: 8px;border-radius: 40px;
-webkit-box-shadow: 4px 4px 18px 0px rgba(0,0,0,0.4);
-moz-box-shadow: 4px 4px 18px 0px rgba(0,0,0,0.4);
box-shadow: 4px 4px 18px 0px rgba(0,0,0,0.4);
}
.gnb_wrap {display: none; width: calc(100% - 100px);}
.gnb .wrap_logo {margin: 16px 0 16px 16px; width: 166px; height: 37px;}
.gnb .menus .item {height: 42px; padding: 0 36px 0 16px}
.gnb .menus .item .txt {line-height: 42px; float: left; color: #ddd; font-size: 14px;}
.gnb .menus .item .ic_fold,
.gnb .menus .item .ic_menu_item {margin-top: 9px; margin-bottom: 9px;}
.gnb .foot {margin-bottom: 12px; margin-left: 16px;}
.gnb .foot .cprignt {margin: 6px 0;}
.gnb .foot .cprignt .txt {font-size: 10px;}
.gnb .foot .cprignt .btn_terms {font-size: 10px;}

.header {padding: 17px 0;}
.head_wrap {width: 100%;}
.header .btn_drawer {display: block;}
.header .head_fn_btns {float: right;}
.header .profile {display: none;}

.title_txt_page {margin: 24px 0;}
.title_txt_page .txt {font-size: 24px;}
.title_txt_page .btn_goto_subs {display: block; position: absolute; top: 50%; right: 0; transform: translateY(-50%); text-align: center; padding: 0 16px; border-radius: 8px; background-color: #F09836;}
.title_txt_page .btn_goto_subs > img {width: 20px; height: 20px; float: left; margin: 8px 4px 8px 0;}
.title_txt_page .btn_goto_subs > span {color: #fff; font-size: 14px; line-height: 36px; font-weight: 400; display: inline-block;}
.title_txt_page .wrap_total {width: 100%; position: static; transform: translateY(0px); margin-top: 12px;}

.box_container .wrap_boxes {margin-top: 24px;}
.box_container .wrap_boxes.b1 .box_item,
.box_container .wrap_boxes.b2 .box_item,
.box_container .wrap_boxes.b3 .box_item,
.box_container .wrap_boxes.b4 .box_item,
.box_container .wrap_boxes.b5 .box_item {width: 100%; padding: 16px 24px; margin-left: 0;}
.box_container .wrap_boxes .box_item .title_wrap .ic {width: 20px; height: 20px;}
.box_container .wrap_boxes .box_item .title_wrap .txt {font-size: 16px; margin-bottom: 16px; line-height: 20px;}

.box_container .wrap_boxes.dashes {margin: -8px;}
.box_container .wrap_boxes.dashes .box_item {margin: 8px; width: calc(50% - 16px); padding: 16px 4px;}
.box_container .wrap_boxes.dashes .box_item .count {font-size: 32px;}
.box_container .wrap_boxes.dashes .box_item .tit {font-size: 14px; line-height: 20px;}
.box_container .wrap_boxes.dashes .box_item .ic {margin-bottom: 12px;}
.box_container .wrap_boxes.notice_dash .box_item .list_notice li {padding: 14px 8px;}
.box_container .wrap_boxes.notice_dash .box_item .list_notice li.new .tit:before {margin: 0 4px 0 0;}
.box_container .wrap_boxes.notice_dash .box_item .list_notice li .tit {width: 100%; font-size: 14px; line-height: 20px; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; overflow:hidden;}
.box_container .wrap_boxes.notice_dash .box_item .list_notice li .date {font-size: 12px; line-height: 18px; margin-top: 4px; float: left;}

.box_container .wrap_boxes.b23 .box_item.b2,
.box_container .wrap_boxes.b23 .box_item.b3,
.box_container .wrap_boxes.graduated .box_item {width: 100%; margin: 24px 0 0 0;}
.box_container .wrap_boxes.graduated .box_item:first-child {margin-top: 0;}
.box_container .wrap_boxes.graduated .box_item .wrap_list li {padding: 0 8px 16px 8px;}
.box_container .wrap_boxes.graduated .box_item .wrap_list li > .wrap_date {width: calc(100% + 16px); background-color: #464A65; padding: 4px 8px; margin: 0 -8px 8px -8px;}
.box_container .wrap_boxes.graduated .box_item .wrap_list li > .wrap_date .maintit {font-size: 11px; line-height: 14px; color: #ddd; font-weight: 300;}
.box_container .wrap_boxes.graduated .box_item .wrap_list li > .wrap_date .subtit {display: none;}
.box_container .wrap_boxes.graduated .box_item .wrap_list li > .wrap_prod {width: 16%;}
.box_container .wrap_boxes.graduated .box_item .wrap_list li > .wrap_id {width: 53%;}
.box_container .wrap_boxes.graduated .box_item .wrap_list li > .wrap_amount {width: 31%;}
.box_container .wrap_boxes.graduated .box_item .wrap_list li > div .maintit {font-size: 12px; line-height: 18px; font-weight: 400;}
.box_container .wrap_boxes.graduated .box_item .wrap_list li > div .subtit {font-size: 11px; line-height: 14px;}

.box_container .wrap_boxes .box_item .btn_confirm {margin: 12px 0;}

.box_container .wrap_boxes.product .box_item {border-top-left-radius: 0; border-top-right-radius: 0;}
.box_container .wrap_boxes.product .box_item .title_wrap {display: none;}
.box_container .wrap_boxes .wrap_btns_tab {display: block; width: 100%; border-top-left-radius: 8px; border-top-right-radius: 8px; overflow: hidden;}
.box_container .wrap_boxes .wrap_btns_tab:after {clear: both; content: ""; display: block;}
.box_container .wrap_boxes .wrap_btns_tab > button {width: 33.333%; float: left; background-color: #50546E; text-align: center; border-radius: 0; margin: 0;}
.box_container .wrap_boxes .wrap_btns_tab > button:focus {outline: none;}
.box_container .wrap_boxes .wrap_btns_tab > button.on {background-color: #3D415E;}
.box_container .wrap_boxes .wrap_btns_tab > button > .ic {opacity: 0.3; display: inline-block; width: 20px; height: 20px; vertical-align: sub; margin-right: 4px;}
.box_container .wrap_boxes .wrap_btns_tab > button > .txt {opacity: 0.3; font-size: 16px; line-height: 48px; display: inline-block; color: #fff;}
.box_container .wrap_boxes .wrap_btns_tab > button.on > .ic {opacity: 1;}
.box_container .wrap_boxes .wrap_btns_tab > button.on > .txt {opacity: 1;}

.box_container .wrap_boxes .box_item .wrap_inputs .item {padding: 12px 0;}
.box_container .wrap_boxes .box_item .wrap_inputs .item .tit {width: 100%; font-size: 14px; line-height: 20px; font-weight: 700; margin: 0  0 4px 0; letter-spacing: 0;}
.box_container .wrap_boxes .box_item .wrap_inputs .item .input_wrap {width: 100%;}

.box_container .wrap_boxes.board .box_item .search_input {width: 100%;}
.box_container .wrap_boxes.board .box_item .head_board {display: none;}
.box_container .wrap_boxes.board .box_item .list_board .item {padding: 14px 8px;}
.box_container .wrap_boxes.board .box_item .list_board .item .tit {width: 100%; float: left; font-size: 14px; line-height: 20px; text-overflow: ellipsis; white-space: nowrap; word-wrap: normal; overflow: hidden;}
.box_container .wrap_boxes.board .box_item .list_board .item .date {width: 100%; float: left; font-size: 12px; line-height: 18px; margin-top: 4px;}
.box_container .wrap_boxes.board .box_item .list_board .item.new .tit:before {margin: 0 4px 0 0;}

.box_container .wrap_boxes.board .box_item .title_wrap {padding: 12px;}
.box_container .wrap_boxes.board .box_item .title_wrap .tit {line-height: 24px;}
.box_container .wrap_boxes.board .box_item .title_wrap .date {font-size: 12px; line-height: 18px; margin-top: 4px; float: left;}
.box_container .wrap_boxes.board .box_item .btns_wrap {margin-top: 16px; border: 1px solid #fff; border-radius: 8px; overflow: hidden;}
.box_container .wrap_boxes.board .box_item .btns_wrap button {font-size: 12px; width: 33.333%; border: none; padding: 0;}
.box_container .wrap_boxes.board .box_item .btns_wrap button.btn_bod_list:before {content: "|"; float: left; color: #72779B;}
.box_container .wrap_boxes.board .box_item .btns_wrap button.btn_bod_list:after {content: "|"; float: right; color: #72779B;}

.box_container .wrap_boxes.faq .box_item .list_board .item .tit {padding: 12px 8px;}
.box_container .wrap_boxes.faq .box_item .list_board .item .tit > p {font-size: 14px; line-height: 20px;}
.box_container .wrap_boxes.faq .box_item .list_board .item .desc {font-size: 12px; line-height: 18px; padding: 0px 8px 12px 8px}

.box_container .wrap_boxes.member .box_item:nth-child(n+2) {margin-top: 16px;}
.box_container .wrap_boxes.member .box_item .profile .name {font-size: 16px; line-height: 24px;}
.box_container .wrap_boxes.member .box_item .profile .email {font-size: 14px; line-height: 20px;}
.box_container .wrap_boxes.member .box_item .grade {width: 48px; height: 48px;}
.box_container .wrap_boxes.member .box_item .grade > p {font-size: 14px; line-height: 48px;}

.box_container .wrap_boxes.ordercount .box_item:nth-child(n+2) {margin-top: 16px;}

.box_container .wrap_boxes.video .box_item .list_wrap .item,
.box_container .wrap_boxes.video .box_item .list_wrap .item:nth-child(n+5) {width: 100%; margin: 12px 0 0 0;}
.box_container .wrap_boxes.video .box_item .list_wrap .item:first-child {margin-top: 0;}
.box_container .wrap_boxes.video .box_item .list_wrap .item .thumb {height: auto;}
.box_container .wrap_boxes.video .box_item > iframe {width: calc(100% + 48px); height: auto; display: block; margin: -16px -24px;}

.box_container .wrap_boxes.board_history .box_item .list .header {display: none;}
.box_container .wrap_boxes.board_history .box_item .list .content .item {padding: 14px 8px;}
.box_container .wrap_boxes.board_history .box_item .list .content .item > p {text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; overflow:hidden;}
.box_container .wrap_boxes.board_history .box_item .list .content .item > p.type {width: 22%; font-size: 14px; line-height: 20px; text-align: left; margin-bottom: 2px;}
.box_container .wrap_boxes.board_history .box_item .list .content .item > p.tit {width: 30%; font-size: 14px; line-height: 20px; text-align: left; margin-bottom: 2px;}
.box_container .wrap_boxes.board_history .box_item .list .content .item > p.detail {width: 48%; font-size: 12px; line-height: 20px; text-align: right; margin-bottom: 2px;}
.box_container .wrap_boxes.board_history .box_item .list .content .item > p.point {width: 50%; font-size: 16px; line-height: 24px; font-weight: 400; text-align: right;}
.box_container .wrap_boxes.board_history .box_item .list .content .item > p.date {width: 50%; font-size: 12px; line-height: 18px; text-align: left; margin-top: 6px;}
.box_container .wrap_boxes.board_history .box_item .sum_number {width: 100%;}

.box_container .wrap_boxes.subscription .wrap_subs {width: 100%; margin-bottom: 24px;}
.box_container .wrap_boxes.subscription .wrap_subs .box_item {margin-top: 0; border-top-left-radius: 0; border-top-right-radius: 0;}
.box_container .wrap_boxes.subscription .wrap_subs .box_item .title_wrap {display: none;}
.box_container .wrap_boxes.subscription .wrap_subs .box_item .desc_wrap > .txt {letter-spacing: 0; margin-top: 12px;}
.box_container .wrap_boxes.subscription .wrap_subs .box_item .desc_wrap > .item {margin: 8px 0;}
.box_container .wrap_boxes.subscription .wrap_subs .box_item .desc_wrap > .item > .tit {width: 100%; margin-bottom: 4px;}

.wrap_currency {width: 200px; position: absolute; top: 50%; right: 0; transform: translateY(-50%); padding: 0; background-color: inherit;}
.wrap_currency .tit {float: right; font-size: 12px; line-height: 18px;}
.wrap_currency .desc {}
.box_container .wrap_boxes.item_pull .box_item:nth-child(n+2) {margin-top: 16px;}
.box_container .wrap_boxes.item_pull .wrap_info {margin-bottom: 16px;}
.box_container .wrap_boxes.item_pull .wrap_info .item {height: 84px;}
.box_container .wrap_boxes.item_pull .wrap_info .item p {font-size: 16px; line-height: 24px;}
.box_container .wrap_boxes.item_pull .wrap_info .item.identify {width: calc(24% - 6px);}
.box_container .wrap_boxes.item_pull .wrap_info .item.point {width: calc(76% - 6px);}
.box_container .wrap_boxes.item_pull .wrap_info .item.date {width: 100%; margin: 12px 0 0 0;}
.box_container .wrap_boxes.item_pull .wrap_info .item .inner {}
.box_container .wrap_boxes.item_pull .wrap_info .item .both {margin: 34px 16px 0 16px;}
.box_container .wrap_boxes.item_pull .wrap_inputs {display: none;}
.box_container .wrap_boxes.item_pull .btn_fold_submit {display: block; width: 100%; border-top: 1px solid #50546e; padding-top: 12px; margin-top: 6px;}
.box_container .wrap_boxes.item_pull .btn_fold_submit > p {display: inline-block; margin-bottom: -3px;}
.box_container .wrap_boxes.item_pull .btn_fold_submit > p:after {clear: both; content: ""; display: block;}
.box_container .wrap_boxes.item_pull .btn_fold_submit > p > span {float: left; font-size: 14px; line-height: 24px;}
.box_container .wrap_boxes.item_pull .btn_fold_submit > p > .img_fold {width: 24px; height: 24px; display: block; float: left;}

br.for_mob {display: block;}
}
